<a href="https://colab.research.google.com/github/kuresh02/Hotel_Booking_EDA/blob/main/Copy_of_Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>


# Importing_Libraries

In [1]:

# Importing python libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
# Importing all import python libraries
import folium
import plotly.express as px


%matplotlib inline #It is a magic function that renders the figure in a notebook

UsageError: unrecognized arguments: #It is a magic function that renders the figure in a notebook

# Mounting_Drive

In [2]:
#mounting driver from google
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Csv_File_Location

In [ ]:
#csv file location
data_file_path="/content/drive/MyDrive/Capstone_Project/Capstone_Project_01_Exploratory Data Analysis/Project_Colab_NoteBook_&_Data/Data/Hotel Bookings.csv"

# Reading_Data_From_Csv_File

In [ ]:
# reading csv file

df= pd.read_csv(data_file_path)   
df.shape # understanding the total row and column by size

(119390, 32)

# Checking_Data_Frame_Shape(Row and Columns)

In [ ]:
#checking the number of rows and column numbers

print(f' Our DataFrame have total {df.shape[0]} of rows.')
print(f' Our DataFrame have total {df.shape[1]} of columns.')

 Our DataFrame have total 119390 of rows.
 Our DataFrame have total 32 of columns.

# DataFrame_Exploration

### Checking_1st_five_row

In [ ]:
# Checking first 5 rows
df.head() # by default it show 5 number of row data

### Checking_last_five_row

In [ ]:
# Checking last 5 rows
df.tail() # by default it show 5 number of row data

### Summary_statistics_of_the_Series_or_Dataframe

In [ ]:
#Showing at the min, max values,mean values etc for each and every columns. 
df.describe(include='all') # NAN values for mean,25% ,50%,75%,max indicates those are categorical columns.

### Column_with_data_types_with_non_null_entries

In [ ]:
df.info()

## Finding_Name_Of_Column

In [ ]:
#Create a new copy of dataframe
df_copy=df.copy()
#print the dataframe Column
print(list(df_copy.columns))

### 1) We have to understand what are the  column present in our dataframe
### 2) From that we can easy understand about our data dataframe by see unique value by every individual.

### Types_Of_Hotel

In [ ]:
# types of hotel
df_copy['hotel'].unique()

### Canceled_Types

In [ ]:
# canceled or not 
df_copy['is_canceled'].unique()

### Arrival_Date_Year

In [ ]:
# arrival date years
df_copy['arrival_date_year'].unique()

### Meal_Type

In [ ]:
# types of meal 
df_copy['meal'].unique()

### Country_Name

In [ ]:
# types of country 
df_copy['country'].unique()

### Types_Of_Market_Sagment

In [ ]:
# types of market_segment 
df_copy['market_segment'].unique()

### Types_Of_Distrubution_Channel

In [ ]:
# types of distribution_channel 
df_copy['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

### Types_Of_Rooms

In [ ]:
# types of reserved_room_type 
first_set=set(df_copy['reserved_room_type'].unique()) # types of reserved_room_type 

second_set=set(df_copy['assigned_room_type'].unique()) # types of assigned_room_type 

Total_room_type=first_set.union(second_set) 
print(sorted(Total_room_type)) #types of room preset for Hotel Booking

### Deposit_Type

In [ ]:
# types of deposit_type available
(df_copy['deposit_type'].unique()) # types of deposit_type

### Distribution_Channel_Type

In [ ]:
# types of distribution_channel available
df_copy['distribution_channel'].unique()

array(['Direct', 'Corporate', 'TA/TO', 'Undefined', 'GDS'], dtype=object)

# Clearing Data Process

###The most important steps before going for the  EDA(Exploratory Data Analysis)
###As we know clearing data will remove the conflict between any duplicate data/row.
##We have to do the above data cleaning process through the following steps:-
###1) Remove all duplicate rows.
###2) Missing values finding and replacing with proper values
###3) Change required column data types from string to appropriate datatypes.
###4)  Adding some required new columns.

## </b>Step 1---> Remove all duplicate rows</b>.

In [ ]:
df_copy[df_copy.duplicated()].shape  #total number to duplicated rows present in dataframe

(31994, 32)

In [ ]:
# Dropping the duplicate values
df_copy.drop_duplicates(inplace = True)

In [ ]:
df_copy.shape

(87396, 32)

## </b>Step 2---> Missing values finding and replacing with proper values</b>.

In [ ]:
## Check any Null value present in columns
df_copy.isna().sum().sort_values(ascending=False)[:6].reset_index().rename(columns={'index':'Columns',0:'Null values'})

              Columns  Null values
0             company        82137
1               agent        12193
2             country          452
3            children            4
4  reserved_room_type            0
5  assigned_room_type            0